.venv
output
__pycache__

examples/efo/input/efo_otar_slim.json
examples/disease/input/efo_otar_slim.json
examples/efo_diseases/input/efo_otar_slim.json
examples/hpo_phenotypes/input/phenotype.hpoa
examples/so/input/so.json
